<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="board/show_distance" style="border: solid black;" method="post">
            <p>show distance</p>
            uid1 : <input type="text" name="uid1" id="uid1"><br>
            distance : <input type="text" name="distance" id="distance"><br>
            <button>Select</button>
        </form>

    <form action="board/show_agedistance" style="border: solid black;" method="post">
                <p>show age distance</p>
                uid1 : <input type="text" name="uid1" id="uid1"><br>
                distance : <input type="text" name="distance" id="distance"><br>
                <button>Select</button>
    </form>

     <form action="board/show_hotlist" style="border: solid black;" method="post">
                    <p>show hotlist</p>
                    <button>Select</button>
        </form>

    <form action="board/select" style="border: solid black;" method="post">
        <p>board select</p>
        <button>Select</button>
    </form>

    <form action="board/create" style="border: solid black;" method="post">
        <p>Create board</p>
        category : <input type="text" name="category" id="category"><br>
        rolling : <input type="text" name="rolling" id="rolling"><br>
        text : <input type="text" name="text" id="text"><br>
        view : <input type="text" name="view" id="view"><br>
        group_id : <input type="text" name="group_id" id="group_id"><br>
        writed_time : <input type="date" name="writed_time" id="writed_time"><br>
        uid : <input type="text" name="uid" id="uid"><br>
        <button>Submit</button>
    </form>
    <form action="board/update" style="border: solid black;" method="post">
        <p>Update board</p>
                bid : <input type="text" name="bid" id="bid"><br>
                text : <input type="text" name="text" id="text"><br>
                <button>Submit</button>
    </form>

    <form action="board/drop" style="border: solid black;" method="post">
        <p>drop</p>
        bid : <input type="text" name="bid" id="bid"><br>
        <button>drop</button>
    </form>






    verify test : ./verify<br>
    헤더 authorization에 토큰값 넣어서 보내주시면 됩니다.
</body>


</html>
