<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="report/report_num" style="border: solid black;" method="post">
        <p>login</p>
        uid : <input type="text" name="uid" id="uid"><br>
        text : <input type="text" name="text" id="text"><br>
        pid : <input type="text" name="pid" id="pid"><br>
        <button>Submit</button>
    </form>
</body>
</html>
