<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="service_center/create" style="border: solid black;" method="post">
            <p>service_center create</p>
            category : <input type="text" name="category" id="category"><br>
            title : <input type="text" name="title" id="title"><br>
            text : <input type="text" name="text" id="text"><br>
            uid : <input type="text" name="uid" id="uid"><br>
            <button>create</button>
        </form>


    verify test : ./verify<br>
    헤더 authorization에 토큰값 넣어서 보내주시면 됩니다.
</body>


</html>
